<h1 class="titulos">PROJETO WEB PT-2</h1>
<h2 class="titulos">Sistema de Cadastro de PET</h2>

<a href='inserir' class="menuInicial">Inserir Animal</a>
<a href='select'class="menuInicial">Selecionar Animal</a>
