<form name="form1" action="controllerForm" method="POST">
    <h2 class="titulos">Insira os Dados Cadastrais do seu PET</h2>
   
    <input type="hidden" name="id" id="id" placeholder="ID: "><br>
    Nome do PET: <input type="text" name="name" id="name" placeholder="Digite o nome do PET "><br>
    Proprietario: <input type="text" name="proprietario" id="proprietario" placeholder="Digite o proprietario "><br>
    Especie: <input type="text" name="especie" id="especie" placeholder="Cavalo, cachorro.. "><br>
    Raça: <input type="text" name="raca" id="raca" placeholder="Pinch, Puddle... "><br>
    Pelagem: <input type="text" name="pelagem" id="pelagem" placeholder="preto, cinza "><br>
    Sexo: <input type="text" name="sexo" id="sexo" placeholder="Sexo: F ou M "><br>
    Peso: <input type="text" name="peso" id="peso" placeholder="Digite o peso: "><br>
    Idade: <input type="text" name="idade" id="idade" placeholder="Digite a idade: "><br>
    Nascimento: <input type="date" name="nascimento" id="nascimento" placeholder="Nascimento: "><br>
    <input type="submit" name="btnSubmit" id="btnSubmit" value="Inserir"></br>

</form>